.blog-item {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;

  .user {
    display: flex;
    align-items: center;

    .name {
      margin: 0 0 0 6px;
      font-size: 14px;
      color: #666;
      cursor: pointer;
    }

    .date {
      margin: 0 0 0 auto;
      font-size: 12px;
      color: #666;
      cursor: pointer;
    }
  }

  .blog-title {
    margin: 12px 0 8px 0;
    line-height: 28px;
    font-size: 22px;
    cursor: pointer;
    color: #222;
  }

  .blog-body {
    font-size: 15px;
    cursor: pointer;
    outline: 0;
    color: #333;
  
    blockquote {
      border-left: 2px solid #f06;
      margin: 0;
      padding: 5px 20px;
      background-color: #f5f5f5;
    }

    p {
      margin: 6px 0;
    }
  }
}