.navbar {
  height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  .logo {
    a {
      display: block;
    }
  }

  .item-image {
    width: 30px;
    height: 30px;
    display: block;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 6px;

    a {
      color: #aaa;

      &:hover {
        color: #666;
      }
    }
  }

  .user {
    height: 30px;

    button {
      padding: 0;
    }
  }
}
