.new-blog-page {
  display: flex;
  flex-direction: column;

  .title {
    border: none;
    outline: none;
    font-size: 30px;
    padding: 15px;
    color: #444;

    &:focus {
      border-left: 1px solid #ccc;
    }
  }

  .newblog-editor {
    // padding: 0 0 0 12px;
    font-size: 14px;

    * {
      font-family: 'Poppins';
    }
  }

  .submit {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
  }
}
