*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0006;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4000;
}

button[class*="MuiButtonBase-root-MuiButton-root"] {
  text-transform: none;
  border-radius: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
